# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

name: build

on:
  release:
    types: [created]

permissions:
  id-token: write
  contents: read

jobs:
  buildAndPublish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - run: npm i -g npm@latest
      - run: npm ci
      - run: npm run build
      - run: npm test
      - run: npm publish
